*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(104deg, rgba(0,0,255,1) 28%, rgba(0,212,255,1) 84%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.input-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    background-color: azure;
    height: auto;
    padding: 2rem;
    gap: 1rem;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51);
}

.input-info label{
    color: #0000ff;
    font-weight: bold;

}

.input-info input {
    height: 1.5rem;
    color: #068609;
    font-weight: bold;
    padding: 0 0.5rem;
    width: 11rem;
    border: 2px solid blue; 
    border-radius: 0.3rem;
    transition: border-color 0.3s ease-in-out; 
}

.input-info input:focus {
    border-color: #00ff5c; 
    outline: none; 
}

.submit-btn {
    background: linear-gradient(104deg, rgba(0,255,92,0.6) 28%, rgba(0,255,6,1) 96%); 
    color: white; 
    font-weight: bold; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background 0.5s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 

}

.submit-btn:hover {
    background: linear-gradient(104deg, rgba(0,255,6,1) 28%, rgba(0,255,92,1) 96%); 
    transform: scale(1.05); 
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3); 
}




.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid #0000FF;
    padding: 1rem 0;
}

.delete {
    width: 3rem;
    font-size: 0.7rem;
    height: 1.5rem;
    color: red;
    border: 1px solid red;
    border-radius: 1.5rem;
    box-shadow:2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    transform: scale(1); 
    
}
.delete:hover{
    color: white;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
    transform: scale(1.1); /* Zoom */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    
}

.output{
    background-color: azure;
    padding: 1.5rem;
    width: 40%;
    height: auto;
    max-height: 30vh;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.51);
    border-radius: 5px;
    max-height: 300px; /* Limite de hauteur pour le défilement */
    overflow-y: auto; /* Activation du défilement vertical */
    overflow-x: hidden;
}

.output::-webkit-scrollbar {
    width: 8px;
}

.output::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 10px; /* Coins arrondis */

}

.output::-webkit-scrollbar-thumb {
    background: #4fe24a; /* Couleur de la poignée */
    border-radius: 10px; /* Coins arrondis de la poignée */
    border: 2px solid #f0f0f0; /* Espace autour pour centrer à l'intérieur */
}


.completed {
    text-decoration: line-through;
    color: gray; /* Optionnel : change la couleur du texte pour indiquer son état */
    opacity: 0.7; /* Optionnel : donne un effet visuel de tâche "invisible" */
}
